.avatar {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
}

.avatar img {
  margin-top: 15px;
}
.name {
  display: flex;
  justify-content: center;
  color: white;
}

.header {
  position: relative;
  height: 400px;
  margin-top: 120px;
  background-color: rgb(26, 31, 89);
  background-image: url("../images/cubes.png");
}
