.avatar {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
}
.name {
  display: flex;
  justify-content: center;
}

.header {
  height: 400px;
  background-color: peachpuff;
  background-image: url("../images/asfalt-light.png");
}
