.avatar {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
}
.name {
  display: flex;
  justify-content: center;
  color: white;
}

.header {
  position: relative;
  height: 400px;
  background-color: lightcoral;
  background-image: url("../images/asfalt-light.png");
  z-index: 1;
}
